<footer>
  <div class="container">
    Susann Pohl | <a href="mailto:mail@suemotion.com?subject=feedback"><i class="far fa-envelope"></i></a>
    | <a href="https://www.instagram.com/sue_motion/"><i class="fab fa-instagram"></i></a>
    | <a href="https://vimeo.com/suemotion"><i class="fab fa-vimeo-v"></i></i></a>
    | <a href="https://www.linkedin.com/in/susencrusen"><i class="fab fa-linkedin"></i></i></a>
    <div class="float-right h-100" ><img src="{{ "/assets/suemotion_tiny.svg" }}" height="8" alt=""></div>
  </div>
</footer>
